<h3>Cliquez sur l'eleve pour procéder le paiment:</h3>

<table ng-table="tableParams" class="table table-bordered table-hover" show-filter="true">
  <tr ng-repeat="user in $data" ng-click="confirm(user)">
    <td data-title="'Nom'" class="ng-table-group" filter="{ 'firstname': 'text' }">{{user.firstname}}</td>
    <td data-title="'Prenom'" class="ng-table-group" filter="{ 'lastname': 'text' }">{{user.lastname}}</td>
    <td data-title="'Niveau'" class="ng-table-group" filter="{ '_levelId': 'text' }">{{user._levelId}}</td>
    <td data-title="'Classe'" class="ng-table-group" filter="{ 'class': 'text' }">{{user.class}}</td>
  </tr>
</table>
