<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="userController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Extrem User</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    Name:       <input type="text" class="form-control" ng-model="addeduser.name" />
                    Username:   <input type="password" class="form-control"  ng-model="addeduser.username"/>
                    Password:   <input type="password" class="form-control"  ng-model="addeduser.password"/>
                    Role:       <select class="form-control" ng-model="addeduser.role">
                                  <option ng-repeat="item in roles" value="{{item}}">{{item}}</option>
                                </select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="$parent.deleteLastLine();$hide();">
                    <i class="fa fa-times"></i> DELETE
                </button>
                <button type="button" class="btn btn-primary" ng-click="upsert(addeduser);$hide();">
                    <i class="fa fa-plus"></i> CREATE
                </button>
            </div>
        </div>
    </div>
</div>
