<button ng-click="insertNewLine()" type="button" class="btn btn-primary" data-animation="am-fade-and-scale" data-template="frontend/components/user/views/user.create.html" data-placement="center" bs-modal="modal">
    <i class="fa fa-user-plus"></i> New User
</button>
<br/>
<br/>
<table ng-table class="table table-bordered table-hover">
    <tr ng-repeat="user in users">
        <td data-title="'Username'">
            {{user.username}}
        </td>
        <td data-title="'Email'">
            {{user.email}}
        </td>
        <td data-title="'Role'">
            {{user.role}}
        </td>
        <td data-title="'Action'" width="200">
            <button ng-click="loadUser(user)" type="button" class="btn btn-default" data-animation="am-fade-and-scale" data-template="frontend/components/user/views/user.edit.html" data-placement="center" bs-modal="modal">
                <i class="fa fa-pencil-square-o"></i> Edit
            </button>
            <button ng-click="confirmDeletion(user)" type="button" class="btn btn-danger" data-animation="am-fade-and-scale" data-template="frontend/components/user/views/user.confirm.html" data-placement="center" bs-modal="modal">
                <i class="fa fa-trash"></i> DELETE
            </button>
        </td>
    </tr>
</table>
