<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="userController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit User </h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    Username:
                    <input type="text" class="form-control" ng-model="clickeduser.username" /> Email:
                    <input type="email" class="form-control" ng-model="clickeduser.email" /> Password:
                    <input type="password" class="form-control" ng-model="clickeduser.password" /> Role:
                    <select class="form-control" ng-model="clickeduser.role">
                        <option ng-repeat="item in roles" value="{{item}}">{{item}}</option>
                    </select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="$hide()">
                    <i class="fa fa-times"></i> Cancel
                </button>
                <button type="button" class="btn btn-primary" ng-click="$parent.update(clickeduser);$hide();">
                    <i class="fa fa-plus"></i> Edit
                </button>
            </div>
        </div>
    </div>
</div>
