<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="todoController">

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modifier prix : <b>{{clickedtodo._id}}</b></h4>
      </div>

  <div class="modal-body">

        <form role="form">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                #
                </th>
                <th>
                  t 1
                </th>
                <th>
                  t 2
                </th>
                <th>
                  t 3
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>
                  s
                </th>
                <td>
                  <input type="number" class="form-control" ng-model="clickedtodo.price.t1.s"/>
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="clickedtodo.price.t2.s"/>
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="clickedtodo.price.t3.s"/>
                </td>
              </tr>
              <tr>
                <th>
                  c
                </th>
                <td>
                  <input type="number" class="form-control" ng-model="clickedtodo.price.t1.c"/>
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="clickedtodo.price.t2.c"/>
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="clickedtodo.price.t3.c"/>
                </td>
              </tr>
              <tr>
                <th>
                  p
                </th>
                <td>
                  <input type="number" class="form-control" ng-model="clickedtodo.price.t1.p"/>
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="clickedtodo.price.t2.p"/>
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="clickedtodo.price.t3.p"/>
                </td>
              </tr>
              <tr>
                <th>
                  g
                </th>
                <td>
                  <input type="number" class="form-control" ng-model="clickedtodo.price.t1.g"/>
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="clickedtodo.price.t2.g"/>
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="clickedtodo.price.t3.g"/>
                </td>
              </tr>
              <tr>
                <th>
                  a
                </th>
                <td>
                  <input type="number" class="form-control" ng-model="clickedtodo.price.t1.a"/>
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="clickedtodo.price.t2.a"/>
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="clickedtodo.price.t3.a"/>
                </td>
              </tr>
            </tbody>

          </table>
        </form>

</div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="$hide()">
            <i class="fa fa-times"></i> cancel
        </button>
        <button type="button" class="btn btn-primary" ng-click="$parent.upsert(clickedtodo);$hide();">
            <i class="fa fa-plus"></i> edit
        </button>
      </div>

    </div>

  </div>
</div>
